openai
fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-openai
langchain-community
faiss-cpu

pdfplumber
pytesseract
Pillow


python-dotenv

numpy
scikit-learn
rank_bm25

pymongo
dnspython
