--extra-index-url https://download.pytorch.org/whl/cpu

torchvision==0.17.2
openai
fastapi
uvicorn[standard]
python-multipart

langchain
langchain-core
langchain-openai
langchain-community
faiss-cpu

pdfplumber
pytesseract
Pillow
pdf2image
camelot-py[cv]

python-dotenv
tqdm
pandas
numpy
scikit-learn
rank_bm25
sentence-transformers


pymongo
dnspython
